*.orig
*.rej
.DS_Store
.gradle
.idea
.settings
adb.pid
bc-android.keystore
bin
build
certdata.txt
check_tools.mk
default.properties
doc
gen
liblinphone-junit-report.xml
liblinphonetester_*.zip
libs
linphone-android.iml
linphone-junit-report*.xml
linphonetester_*.zip
lint.xml
local.properties
obj
proguard-project.txt
project.properties
res/.DS_Store
res/raw/lpconfig.xsd
res/raw/rootca.pem
submodules/externals/build/cunit/CUnit/
submodules/externals/build/ffmpeg/arm/
submodules/externals/build/ffmpeg/x86
submodules/externals/build/libvpx/arm
submodules/externals/build/libvpx/x86
submodules/externals/build/openh264/arm
submodules/externals/build/openh264/x86
tests/*$py.class
tests/build.xml
tests/project.properties
ant_password.properties
Project Documentation/Main/SDD/SDD.aux
Project Documentation/Main/SDD/SDD.lof
Project Documentation/Main/SDD/SDD.log
Project Documentation/Main/SDD/SDD.pdf
Project Documentation/Main/SDD/SDD.synctex.gz
Project Documentation/Main/SDD/SDD.toc
linphone-android-group-chat.iml
Project Documentation/Main/SRD/software_requirements_specification.aux
Project Documentation/Main/SRD/software_requirements_specification.toc
Project Documentation/Main/SRD/software_requirements_specification.synctex.gz
Project Documentation/Main/SRD/software_requirements_specification.pdf
Project Documentation/Main/SRD/software_requirements_specification.log
Project Documentation/Main/PSAC & SDP/PSAC.toc
Project Documentation/Main/PSAC & SDP/PSAC.synctex.gz
Project Documentation/Main/PSAC & SDP/PSAC.pdf
Project Documentation/Main/PSAC & SDP/PSAC.aux
Project Documentation/Main/ATP/ATP.aux
Project Documentation/Main/ATP/title_page.log
Project Documentation/Main/ATP/ATP.toc
Project Documentation/Main/ATP/ATP.log
Project Documentation/Main/ATP/ATP.synctex.gz
Project Documentation/Main/ATP/ATP.pdf
Project Documentation/Demos/Demo 03/~$Demo 03.pptx
Project Documentation/Main/User Manual/UserManuel.toc
Project Documentation/Main/User Manual/UserManuel.synctex.gz
Project Documentation/Main/User Manual/UserManuel.aux
Project Documentation/Main/User Manual/UserManuel.lof
Project Documentation/Main/User Manual/UserManuel.pdf
Project Documentation/Main/User Manual/UserManuel.log
Project Documentation/Main/PSAC & SDP/PSAC.log
Project Documentation/Main/Implementation/UI/UI_AdditionsAndComponents.log
Project Documentation/Main/Implementation/UI/UI_AdditionsAndComponents.log
Project Documentation/Main/Implementation/UI/UI_AdditionsAndComponents.pdf
Project Documentation/Main/Implementation/UI/UI_AdditionsAndComponents.synctex.gz
Project Documentation/Main/User Manual/UserManual.toc
Project Documentation/Main/User Manual/UserManual.synctex.gz
Project Documentation/Main/Implementation/UI/UI_AdditionsAndComponents.synctex.gz
Project Documentation/Main/Implementation/UI/UI_AdditionsAndComponents.log
Project Documentation/Main/User Manual/UserManual.pdf
Project Documentation/Main/User Manual/UserManual.aux
